{{- if .Values.rollouts.enabled -}}
apiVersion: argoproj.io/v1alpha1
kind: Rollout
metadata:
  name: {{ include "backend.fullname" . }}
  labels:
    {{- include "backend.labels" . | nindent 4 }}
spec:
  {{- if not .Values.autoscaling.enabled }}
  replicas: {{ .Values.replicaCount }}
  {{- end }}
  selector:
    matchLabels:
      {{- include "backend.selectorLabels" . | nindent 6 }}
  strategy:
    {{- with .Values.rollouts.strategy }}
    {{ toYaml . | nindent 4 }}
    {{- end }}    

  template:
    metadata:
      {{- with .Values.podAnnotations }}
      annotations:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      labels:
        {{- include "backend.labels" . | nindent 8 }}
        {{- with .Values.podLabels }}
        {{- toYaml . | nindent 8 }}
        {{- end }}
    spec:
      {{- with .Values.imagePullSecrets }}
      imagePullSecrets:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      serviceAccountName: {{ include "backend.serviceAccountName" . }}
      {{- with .Values.podSecurityContext }}
      securityContext:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      containers:
        - name: {{ .Chart.Name }}
          {{- with .Values.securityContext }}
          securityContext:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          image: "{{ .Values.image.repository }}:{{ .Values.image.tag | default .Chart.AppVersion }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          ports:
            - name: http
              containerPort: {{ .Values.service.port }}
              protocol: TCP
          env:
            - name: SF_LICENSE_PRIVATE_KEY
              value: "/etc/sf/license-keys/{{ .Values.licenseSecret.key }}"
            
            # Database Configuration
            - name: SF_COMMUNITY_DATABASE_HOST
              valueFrom:
                configMapKeyRef:
                  name: {{ include "backend.fullname" . }}-database
                  key: host
            - name: SF_COMMUNITY_DATABASE_PORT
              valueFrom:
                configMapKeyRef:
                  name: {{ include "backend.fullname" . }}-database
                  key: port
            - name: SF_COMMUNITY_DATABASE_NAME
              valueFrom:
                configMapKeyRef:
                  name: {{ include "backend.fullname" . }}-database
                  key: dbName
            - name: SF_COMMUNITY_DATABASE_USER
              valueFrom:
                configMapKeyRef:
                  name: {{ include "backend.fullname" . }}-database
                  key: user
            - name: SF_COMMUNITY_DATABASE_SSL_MODE
              valueFrom:
                configMapKeyRef:
                  name: {{ include "backend.fullname" . }}-database
                  key: sslMode
            - name: SF_COMMUNITY_DATABASE_PASSWORD
              valueFrom:
                secretKeyRef:
                  {{- if .Values.database.existingSecret }}
                  name: {{ .Values.database.existingSecret }}
                  {{- else }}
                  name: {{ include "backend.fullname" . }}-database-secret
                  {{- end }}
                  key: {{ .Values.database.passwordSecretKey | default "password" }}

            {{- with .Values.extraEnvs }}
              {{ toYaml . | nindent 12 }}
            {{- end }}

          {{- with .Values.envFrom }}
          envFrom:
            {{- toYaml . | nindent 12 }}
          {{- end }}              
          {{- with .Values.livenessProbe }}
          livenessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.readinessProbe }}
          readinessProbe:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          {{- with .Values.resources }}
          resources:
            {{- toYaml . | nindent 12 }}
          {{- end }}
          volumeMounts:
            - name: license-keys
              mountPath: /etc/sf/license-keys
              readOnly: true
            {{- with .Values.volumeMounts }}
              {{- toYaml . | nindent 12 }}
            {{- end }}
      volumes:
        - name: license-keys
          secret:
            secretName: {{ .Values.licenseSecret.name }}
        {{- with .Values.volumes }}
          {{- toYaml . | nindent 8 }}
        {{- end }}
      {{- with .Values.nodeSelector }}
      nodeSelector:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.affinity }}
      affinity:
        {{- toYaml . | nindent 8 }}
      {{- end }}
      {{- with .Values.tolerations }}
      tolerations:
        {{- toYaml . | nindent 8 }}
      {{- end }}

{{- end }}